In [57]:
from trainlib.generator import Generator
from trainlib.FileCollection import FileCollection
import trainlib.cuts as cuts
from trainlib.utils import read_data
import pandas as pd
from root_numpy import root2array
import numpy as np

In [51]:
fcoll = FileCollection({"/data_CMS/cms/wind/processed/ggH125/ZZ4lAnalysis.root" : cuts.no_cut}, 0.0, 1.0)

skimming /data_CMS/cms/wind/processed/ggH125/ZZ4lAnalysis.root
collection set up: 1 files, 110483 entries in total, 110483 of which will be used

In [91]:
bb = ["nCleanedJetsPt30", "D_WHh_ggH_ML", "D_ZHh_ggH_ML", "D_VBF_ggH_ML"]

In [92]:
indata = pd.DataFrame(root2array("/data_CMS/cms/wind/processed/ggH125/ZZ4lAnalysis.root", treename = "ZZTree/candTree",  branches = bb, start = 0, stop = 110483))

In [93]:
indata

        nCleanedJetsPt30  D_WHh_ggH_ML  D_ZHh_ggH_ML  D_VBF_ggH_ML
0                      1      0.000000      0.000000      0.561523
1                      1      0.000000      0.000000      0.381720
2                      0      0.000000      0.000000      0.000000
3                      1      0.000000      0.000000      0.432669
4                      0      0.000000      0.000000      0.000000
5                      0      0.000000      0.000000      0.000000
6                      0      0.000000      0.000000      0.000000
7                      0      0.000000      0.000000      0.000000
8                      1      0.000000      0.000000      0.600802
9                      1      0.000000      0.000000      0.414321
10                     1      0.000000      0.000000      0.587092
11                     1      0.000000      0.000000      0.345483
12                     0      0.000000      0.000000      0.000000
13                     1      0.000000      0.000000      0.625918
14                     0      0.000000      0.000000      0.000000
15                     0      0.000000      0.000000      0.000000
16                     0      0.000000      0.000000      0.000000
17                     0      0.000000      0.000000      0.000000
18                     0      0.000000      0.000000      0.000000
19                     1      0.000000      0.000000      0.343434
20                     0      0.000000      0.000000      0.000000
21                     1      0.000000      0.000000      0.370821
22                     0      0.000000      0.000000      0.000000
23                     1      0.000000      0.000000      0.369364
24                     1      0.000000      0.000000      0.404951
25                     0      0.000000      0.000000      0.000000
26                     0      0.000000      0.000000      0.000000
27                     0      0.000000      0.000000      0.000000
28                     1      0.000000      0.000000      0.372025
29                     0      0.000000      0.000000      0.000000
...                  ...           ...           ...           ...
110453                 1      0.000000      0.000000      0.353078
110454                 0      0.000000      0.000000      0.000000
110455                 1      0.000000      0.000000      0.432916
110456                 0      0.000000      0.000000      0.000000
110457                 2      0.270186      0.091174      0.331033
110458                 0      0.000000      0.000000      0.000000
110459                 0      0.000000      0.000000      0.000000
110460                 0      0.000000      0.000000      0.000000
110461                 0      0.000000      0.000000      0.000000
110462                 0      0.000000      0.000000      0.000000
110463                 0      0.000000      0.000000      0.000000
110464                 3      0.774545      0.806285      0.453256
110465                 1      0.000000      0.000000      0.404641
110466                 0      0.000000      0.000000      0.000000
110467                 0      0.000000      0.000000      0.000000
110468                 1      0.000000      0.000000      0.457847
110469                 0      0.000000      0.000000      0.000000
110470                 0      0.000000      0.000000      0.000000
110471                 0      0.000000      0.000000      0.000000
110472                 0      0.000000      0.000000      0.000000
110473                 0      0.000000      0.000000      0.000000
110474                 0      0.000000      0.000000      0.000000
110475                 0      0.000000      0.000000      0.000000
110476                 1      0.000000      0.000000      0.555246
110477                 0      0.000000      0.000000      0.000000
110478                 0      0.000000      0.000000      0.000000
110479                 1      0.000000      0.000000      0.393238
110480                 0      0.000000      0.000000      0.000000
110481                 0      0.000000      0.000000      0.000000
110482                 1      0.000000      0.000000      0.371684

[110483 rows x 4 columns]

In [36]:
indata.loc[indata["nCleanedJetsPt30"] < 2]

       nCleanedJetsPt30  D_WHh_ggH_ML
0                     1      0.561523
1                     1      0.381720
2                     0      0.000000
3                     1      0.432669
4                     0      0.000000
5                     0      0.000000
6                     0      0.000000
7                     0      0.000000
8                     1      0.600802
9                     1      0.414321
10                    1      0.587092
11                    1      0.345483
12                    0      0.000000
13                    1      0.625918
14                    0      0.000000
15                    0      0.000000
16                    0      0.000000
17                    0      0.000000
18                    0      0.000000
19                    1      0.343434
20                    0      0.000000
21                    1      0.370821
22                    0      0.000000
23                    1      0.369364
24                    1      0.404951
25                    0      0.000000
26                    0      0.000000
27                    0      0.000000
28                    1      0.372025
29                    0      0.000000
...                 ...           ...
32368                 0      0.000000
32370                 0      0.000000
32371                 0      0.000000
32372                 0      0.000000
32373                 0      0.000000
32374                 1      0.455191
32375                 1      0.470949
32376                 0      0.000000
32377                 0      0.000000
32378                 1      0.601148
32379                 0      0.000000
32380                 0      0.000000
32381                 1      0.423610
32382                 0      0.000000
32383                 0      0.000000
32385                 1      0.344415
32386                 1      0.338361
32387                 0      0.000000
32388                 0      0.000000
32389                 1      0.495028
32390                 0      0.000000
32391                 1      0.341299
32392                 0      0.000000
32393                 0      0.000000
32394                 1      0.531694
32395                 0      0.000000
32396                 1      0.437866
32397                 0      0.000000
32398                 0      0.000000
32400                 0      0.000000

[28911 rows x 2 columns]

In [55]:
testarr = []

In [58]:
testarr.append(np.array([1,2,3,4,5]))

In [59]:
testarr.append(np.array([5,6,7,8,9]))

In [71]:
testarr = np.swapaxes(np.array(testarr), 0, 1)

In [72]:
testarr

array([[1, 5],
       [2, 6],
       [3, 7],
       [4, 8],
       [5, 9]])

In [68]:
np.array(testarr, dtype=[("test1","f4"),("test2","f4")])

array([[( 1.,  1.), ( 5.,  5.)],
       [( 2.,  2.), ( 6.,  6.)],
       [( 3.,  3.), ( 7.,  7.)],
       [( 4.,  4.), ( 8.,  8.)],
       [( 5.,  5.), ( 9.,  9.)]],
      dtype=[('test1', '<f4'), ('test2', '<f4')])

In [81]:
teststruc = np.zeros(5, dtype=[("test1","f4"),("test2","f4")])

In [89]:
teststruc["test1"] = testarr[:,0]

In [88]:
testarr[:,0]

array([1, 2, 3, 4, 5])

In [90]:
teststruc

array([( 1.,  0.), ( 2.,  0.), ( 3.,  0.), ( 4.,  0.), ( 5.,  0.)],
      dtype=[('test1', '<f4'), ('test2', '<f4')])