In [1]:
from root_numpy import root2array
import pandas as pd

Welcome to JupyROOT 6.10/09

In [6]:
read_data = pd.DataFrame(root2array("/data_CMS/cms/wind/treetree.root", treename = "T", branches = ["val"], start = 0, stop = 10))

In [5]:
read_data

   val
0  0.0
1  1.0
2  2.0
3  3.0
4  4.0
5  5.0
6  6.0
7  7.0
8  8.0
9  9.0