In [6]:
def gen1():
    cnt = 0
    while True:
        cnt += 1
        yield cnt

In [7]:
gen = gen1()

In [12]:
gen.next()

5

In [35]:
def gen3():
    local_gen = gen1()
    yield 2 * gen1().next()

In [24]:
def gen2():
    local_gen = gen1()
    
    while True:
        y = local_gen.next()
        yield 2 * y

In [29]:
othergen = gen2()

In [48]:
othergen.next()

30

In [36]:
yetanothergen = gen3()

In [49]:
import pandas as pd

In [50]:
test = pd.DataFrame(columns = ["a", "b", "c"])

In [51]:
test

Empty DataFrame
Columns: [a, b, c]
Index: []

In [54]:
test_new = pd.DataFrame({"a": [1], "b": [2], "c": [3]})

In [55]:
test_new

   a  b  c
0  1  2  3

In [57]:
pd.concat([test, test_new])

   a  b  c
0  1  2  3